@model Genre

<h1 class="page-title">Genre Editor</h1>
<hr />
<div class="row form-container">
    <div class="col-md-5">
        <form asp-action="Edit" asp-controller="Genre" enctype="multipart/form-data">
            <h3>Edit @Model.Name</h3>
            <hr />
            @Html.HiddenFor(t => t.Uid)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Name" class="form-control" />
                <label asp-for="Name" class="form-label"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input type="submit" value="Edit" class="w-100 btn btn-md btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index" asp-controller="Genre" class="w-100 btn btn-md btn-danger">Back to List</a>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
